:root {
    --progress-bar-color: #0cb700;
    --progress: 0%;
}

progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10px;
    pointer-events: none;
    z-index: 9999;

    /**
     * Don't show until JavaScript is ready
     */
    &:not(:defined) {
        display: none;
    }

    & .progress-bar-fill {
        width: var(--progress);
        height: 100%;
        min-height: 10px;
        background-color: var(--progress-bar-color);
        transition: width 120ms linear;
    }
}
