:root {
    --progress-bar-color: #29d;
    --progress: 0%;
    --progress-height: 3px;
}

progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--progress-height, 3px);
    pointer-events: none;
    z-index: 9999;

    /**
     * Don't show until JavaScript is ready
     */
    &:not(:defined) {
        display: none;
    }

    & .progress-bar-fill {
        width: var(--progress);
        height: 100%;
        background-color: var(--progress-bar-color);
        transition: width 120ms linear;
    }
}
